@import url('colors.css');

* {
  all: unset;
  color: @text;
  font-family: 'CaskaydiaCove Nerd Font';
  font-size: 14px;
}

.App-Launcher .launcher-container {
  background-color: @mantle;
  border: 3px solid @mauve;
  border-radius: 12px;
  padding: 8px;
}

.App-Launcher .side-image {
  background-image: url('assets/launcher_side_image.png');
  background-size: cover;
  background-position: right;
  border-radius: 6px;
  margin-left: 8px;
  min-width: 200px;
}

.App-Launcher .scrollable {
  min-width: 400px;
  min-height: calc(45px * 6);
}

.App-Launcher .search-bar entry {
  padding-left: 6px;
  border-radius: 6px;
  background-color: @surface0;
}

.App-Launcher .search-bar entry:focus {
  border: 2px solid @blue;
}

.App-Launcher .search-bar label {
  color: @base;
  background-color: @blue;
  padding: 12px;
  border-radius: 6px;
}

.App-Launcher .app-list {
  background-color: @mantle;
}

.App-Launcher .app-list button {
  padding: 4px;
  margin-top: 5px;
  border-radius: 6px;
  background-color: @base;
}

.App-Launcher .app-list button:hover {
  background-color: @peach;
}
.App-Launcher .app-list button:hover label {
  color: @base;
}
